.filterContainer {
    border-radius: 5px;

    border-width: 3px;
    margin: 5px;
}

.padding {
    padding: 2px !important;
}

.label {
    display: inline-block;
}

.noMargin {
    margin: 0px !important;
}

.filterItem {
    box-shadow:
    10px 10px 5px rgba(0, 0, 0, 0.075),
10px 10px 10px rgba(0, 0, 0, 0.15)
  ;
}