.headerContainer {
    position: fixed;
    top:0%;
    left:0%;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(#f20006, #8c0003, #f20006);
    transition: 1s;
    z-index: 2;
}

.headerContainer:hover {
    height: 100px;
}

.headerContainer:hover .categoryContainer{
    top: 0px;
}

.headerContainer:hover + #content {
    top: 130px;
}

.headerContainer:hover  #kontakt {
    top:0px
}

.categoryContainer {
    z-index: 6;
    position: fixed; 
    height: 128px;
    width: 128px;
    top:-130px;
    transition: 1s;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.nonBlueLink {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#kontakt {
    position: relative;
    top: -30px;
    height: 30px;
    margin: auto;
    z-index: 1;
    transition: 1s;
    background-color: #f20006;
}

.logoContainer {
    position: relative;
    vertical-align: middle;
    height: 100%;
    background-image: linear-gradient(#f20006, #8c0003, #f20006);
    z-index: 5;
    transition: 1s;
}

.logo {
    max-width: 128px;
    max-height: 128px;
    max-height: 100%;
    height: 100%;
    z-index: 4;
    transition: 1s;
}

#content {
    position: relative;
    top:50px;
    z-index: 0;
    transition: 1s;
}