.listingContainer {
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

.listing {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 200px;
    background-color: white;
    z-index: 2;
}

#listingDetails {
    position: fixed;
    max-width: 100%;
    width: 90%;
    height: 90%;
    top:5%;
    left:5%;
    opacity: 1;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    z-index: 3;
    background-color: #c8c8c8;
}
