
.listingContainer {
    box-shadow:
  0 7.5px 5px rgba(0, 0, 0, 0.075),
  0 60px 40px rgba(0, 0, 0, 0.35)
;
border-radius: 15px;
background-color: white;
}

.myCarousel {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}

.listingPic {
    width: 100%;
    border-radius: 15px;
}

.listingThumbnailHeader {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.listing {
    position: relative;
    border-width: 1px;
    z-index: 2;
    background-color: red;
}

.fullHeight {
    min-height: 100%;
}


