.listingDetails {
    min-width: 90%;
    max-height: 100%;
    opacity: 1;
    z-index: 3;
}

.listingDetailsTheme {
    background-color: #e6e6e6;
}

.noPadding {
    padding: 0px !important;
}

.listingHeader {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}